.gx-accordion {
  --gx-accordion-item-border: 1px solid #e5e7eb;
  --gx-accordion-background: none;
  --gx-accordion-item-padding: 1rem 0;
  --gx-accordion-padding: 0 1rem 1rem 1rem;
  width: 100%;
  --gx-mouse-angle: 45deg;
  --gx-mouse-distance: 0;
  --percent: calc(75% / (1 + var(--gx-mouse-distance) / 10));
  --shadow-size: calc(
    max(8px, min(24px, calc(1000px / (1 + var(--gx-mouse-distance)))))
  );

  box-shadow:
    rgba(255, 255, 255, 0.2) 0px 0px 6px 0px,
    rgba(138, 101, 240, 0.125) 0px 0px var(--shadow-size) 4px;
  padding: var(--gx-accordion-padding);
}

.gx-accordion-item {
  width: 100%;
  border-bottom: var(--gx-accordion-item-border);
  background: var(--gx-accordion-background);
}

.gx-accordion-item button {
  position: relative;
  width: 100%;
  text-align: left;
  padding: var(--gx-accordion-item-padding);
  padding-right: 3rem;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.gx-accordion-title-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.gx-accordion-content {
  overflow: hidden;
  transition:
    height 0.3s ease-out,
    opacity 0.3s;
  height: 0;
  opacity: 0;
}

.gx-accordion-item.open .gx-accordion-content {
  height: calc(var(--gx-accordion-item-max-height, 1000px) + 1rem);
  opacity: 1;
}

.gx-accordion-item.open .gx-accordion-title-icon {
  transform: translateY(-50%) rotate(180deg);
}
