---
import { Alert as GeminiAlert, Grid } from "@gemini-ui-astro/components";
import Layout from "../../../../layouts/Layout.astro";
---

<Layout title="Gemini UI - Divider">
  <main>
    <Grid class="grid" container gap="16px">
      <Grid xs={12}>
        <GeminiAlert dynamicGlow severity="success">
          This is a success alert
        </GeminiAlert>
      </Grid>
      <Grid xs={12}>
        <GeminiAlert dynamicGlow severity="warning">
          This is a warning alert
        </GeminiAlert>
      </Grid>
      <Grid xs={12}>
        <GeminiAlert dynamicGlow severity="error">
          This is an error alert
        </GeminiAlert>
      </Grid>
      <Grid xs={12}>
        <GeminiAlert dynamicGlow severity="info">
          This is an info alert
        </GeminiAlert>
      </Grid>
      <Grid xs={12}>
        <GeminiAlert dynamicGlow pulse="infinite" severity="error">
          This is an error alert with infinite pulse
        </GeminiAlert>
      </Grid>
    </Grid>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
