---
import {
  Button,
  DynamicGlow,
  Card as GeminiCard,
} from "@gemini-ui-astro/components";
import Layout from "../../../../layouts/Layout.astro";
---

<Layout title="Gemini UI - Card">
  <DynamicGlow />
  <main>
    <div class="column center">
      <GeminiCard class="example-card" dynamicGlow>
        <h2>Card Title 1</h2>
        <p>
          Officia non aliqua eu sunt nisi tempor fugiat magna. Cillum sint anim
          magna quis occaecat quis ea consectetur. Veniam nisi dolore proident
          aute minim consequat cillum esse laborum do nostrud esse sint. Elit
          nisi non cupidatat voluptate laboris qui. Pariatur aute do ullamco id
          nulla minim. Cillum proident quis adipisicing deserunt veniam cillum
          officia ut labore fugiat culpa veniam. Elit deserunt veniam culpa sit
          minim deserunt aliqua adipisicing duis.
        </p>
        <Button>Some Button</Button>
      </GeminiCard>
      <GeminiCard class="example-card" dynamicGlow>
        <h2>Card Title 2</h2>
        <p>
          Aute consectetur nostrud Lorem aliquip officia deserunt nulla. Aliquip
          est deserunt ex anim. Voluptate mollit minim incididunt consequat anim
          officia commodo mollit nisi culpa esse duis ut. Pariatur ut incididunt
          ipsum consectetur reprehenderit deserunt et do duis ut aliquip laboris
          dolor.
        </p>
        <Button>Some Button</Button>
      </GeminiCard>
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .column {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .example-card {
    text-align: center;
    padding: 2em;

    h2 {
      margin: 0;
    }
  }
</style>
