---
import { Divider as GeminiDivider, Grid } from "@gemini-ui-astro/components";
import Layout from "../../../../layouts/Layout.astro";
---

<Layout title="Gemini UI - Divider">
  <div><GeminiDivider /></div>
  <Grid container>
    <Grid xs={3}>Left</Grid>
    <Grid xs={1}><GeminiDivider orientation="vertical" /></Grid>
    <Grid xs={4}>Center</Grid>
    <Grid xs={1}><GeminiDivider orientation="vertical" /></Grid>
    <Grid xs={3}>Right</Grid>
  </Grid>
</Layout>
