---
import { Card, Grid as GeminiGrid } from "@gemini-ui-astro/components";
import Layout from "../../../../layouts/Layout.astro";
---

<Layout title="Gemini UI - GeminiGrid">
  <main>
    <GeminiGrid container gap="4">
      <GeminiGrid xs="6" md="8">
        <Card dynamicGlow class="item">xs=6 md=8</Card>
      </GeminiGrid>
      <GeminiGrid xs="6" md="4">
        <Card dynamicGlow class="item">xs=6 md=4</Card>
      </GeminiGrid>
      <GeminiGrid xs="6" md="4">
        <Card dynamicGlow class="item">xs=6 md=4</Card>
      </GeminiGrid>
      <GeminiGrid xs="6" md="8">
        <Card dynamicGlow class="item">xs=6 md=8</Card>
      </GeminiGrid>
      <GeminiGrid xs="6" sm="3" md="8">
        <Card dynamicGlow class="item">xs=6 sm=3 md=8</Card>
      </GeminiGrid>
      <GeminiGrid xs="6" sm="3" md="4">
        <Card dynamicGlow class="item">xs=6 sm=3 md=4</Card>
      </GeminiGrid>
      <GeminiGrid xs="6" sm="3" md="4">
        <Card dynamicGlow class="item">xs=6 sm=3 md=4</Card>
      </GeminiGrid>
      <GeminiGrid xs="6" sm="3" md="8">
        <Card dynamicGlow class="item">xs=6 sm=3 md=8</Card>
      </GeminiGrid>
      <GeminiGrid xs="12" sm="6">
        <Card dynamicGlow class="item">xs=12 sm=6</Card>
      </GeminiGrid>
      <GeminiGrid xs="12" sm="6">
        <Card dynamicGlow class="item">xs=12 sm=6</Card>
      </GeminiGrid>
    </GeminiGrid>
  </main>
</Layout>

<style lang="scss">
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .item {
    user-select: none;
    display: block;
    padding: 15px 30px;
    text-align: center;
    width: 100%;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #272a32;
      border-color: #bd64e3;
    }
  }
</style>
