---
import { Grid } from "@gemini-ui-astro/components";
import Layout from "../../../../layouts/Layout.astro";
---

<Layout title="Gemini UI - Grid">
  <main>
    <Grid container gap={2}>
      <Grid xs={6} md={8}>
        <div class="item">xs=6 md=8</div>
      </Grid>
      <Grid xs={6} md={4}>
        <div class="item">xs=6 md=4</div>
      </Grid>
      <Grid xs={6} md={4}>
        <div class="item">xs=6 md=4</div>
      </Grid>
      <Grid xs={6} md={8}>
        <div class="item">xs=6 md=8</div>
      </Grid>
      <Grid xs={6} sm={3} md={8}>
        <div class="item">xs=6 sm=3 md=8</div>
      </Grid>
      <Grid xs={6} sm={3} md={4}>
        <div class="item">xs=6 sm=3 md=4</div>
      </Grid>
      <Grid xs={6} sm={3} md={4}>
        <div class="item">xs=6 sm=3 md=4</div>
      </Grid>
      <Grid xs={6} sm={3} md={8}>
        <div class="item">xs=6 sm=3 md=8</div>
      </Grid>
      <Grid xs={12} sm={6}>
        <div class="item">xs=12 sm=6</div>
      </Grid>
      <Grid xs={12} sm={6}>
        <div class="item">xs=12 sm=6</div>
      </Grid>
    </Grid>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .item {
    display: block;
    border-radius: 4px;
    padding: 15px 30px;
    color: #333;
    text-align: center;
    background: #fafafa;
    border: 1px solid #ddd;
    width: 100%;

    &:hover {
      background: #f0f0f0;
      border-color: #bd64e3;
    }
  }
</style>
