---
import { Image as GeminiImage } from "@gemini-ui-astro/components";
import Layout from "../../../../layouts/Layout.astro";
---

<Layout title="Gemini UI - Card">
  <main>
    <div class="column center">
      <GeminiImage
        class="neom-1"
        src="/neom-400x300.webp"
        alt="Sandstone plateau, Hisma Desert - NEOM, Saudi Arabia"
        width="400"
        dynamicGlow
      />
      <GeminiImage
        class="neom-2"
        alt="Freediver surfaces aside a coral reef plateau, Islands of NEOM - NEOM, Saudi Arabia"
        src="/neom2-600x400.webp"
        width="600"
        caption
        dynamicGlow
      >
        Figure 2: The vibrant waters of NEOM, are home to some of the most
        picturesque and pristine islands in the Red Sea | Islands of NEOM -
        NEOM, Saudi Arabia.
      </GeminiImage>
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .column {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .neom-1 {
    aspect-ratio: 4/3;
    @media screen and (max-width: 448px) {
      width: calc(100vw - 48px);
    }
  }
  .neom-2 {
    aspect-ratio: 3/2;
    @media screen and (max-width: 648px) {
      width: calc(100vw - 48px);
    }
  }
</style>
